if !isAndroid
  .navbar
    .navbar-inner
      .left.sliding
        a.link.back(href='#')
          i.icon.icon-back
          span #{prev}
      .center.sliding #{title}
  .pages
    .page.no-toolbar(data-page='#{pageName}' id='#{pageName}' data-id='#{id}')
      .toolbar.messagebar(id='messagebar')
      .page-content.messages-content(id='message-content')
      .page-content(id='#{pageName}')
else
  .page(data-page='#{pageName}' data-id='#{id}')
    .navbar
      .navbar-inner
        .left
          a.link.back.icon-only(href='#')
            i.icon.icon-back
        .center #{title}
    .toolbar.messagebar(id='messagebar')
    .page-content.messages-content(id='message-content')
    .page-content(id='#{pageName}')
